<ion-header>

  <ion-navbar color="primary">
    <ion-title>Add an Intrsthing</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="addnewForm" (ngSubmit)="submitForm()">
    <intrsting-types [form]="addnewForm"  [fcn]="'type'"></intrsting-types>

    <ion-item>
      <ion-label color="primary">Name</ion-label>
      <ion-input type="text" formControlName="name" placeholder="Learn Spring in 15 mins"></ion-input>
    </ion-item>
    <p *ngIf="addnewForm.controls['name'].errors?.notEmpty && !addnewForm.controls['name'].pristine" style="padding-left: 10%;color:red">This field is required</p>

    <ion-item>
      <ion-label color="primary">Description</ion-label>
      <ion-input type="text" formControlName="description" placeholder="You'll become a master in Spring Data, Spring Integration and Spring MVC without breaking a sweat"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Website</ion-label>
      <ion-input type="text" formControlName="url" placeholder="Place to buy/read/watch/download/... Intrsthings"></ion-input>
    </ion-item>
    <p *ngIf="addnewForm.controls['url'].errors?.notEmpty && !addnewForm.controls['url'].pristine" style="padding-left: 10%;color:red">This field is required</p>

    <ion-item *ngIf="addnewForm.controls['type'].value === 'BOOK'">
      <ion-label color="primary">Author</ion-label>
      <ion-input type="text" formControlName="author" placeholder="Sir Writer McPenFace"></ion-input>
    </ion-item>
    <p *ngIf="addnewForm.controls['author'].errors?.requiredIf && !addnewForm.controls['author'].pristine" style="padding-left: 10%;color:red">This field is required</p>

    <ion-item *ngIf="addnewForm.controls['type'].value === 'BOOK'">
      <ion-label color="primary">Number of pages</ion-label>
      <ion-input type="text" formControlName="numberofpages" placeholder="9001"></ion-input>
    </ion-item>
    <p *ngIf="addnewForm.controls['numberofpages'].errors?.requiredIf && !addnewForm.controls['numberofpages'].pristine" style="padding-left: 10%;color:red">This field is required</p>


    <button ion-button type="submit" [disabled]="!addnewForm.valid">Submit</button>
  </form>
</ion-content>
